<p id="notice"><%= notice %></p>

<p>
  <strong>Playlist:</strong>
  <%= @playlist_song.playlist_id %>
</p>

<p>
  <strong>Song:</strong>
  <%= @playlist_song.song_id %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @playlist_song.rank %>
</p>

<%= link_to 'Edit', edit_playlist_song_path(@playlist_song) %> |
<%= link_to 'Back', playlist_songs_path %>
