<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @host.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @host.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @host.password %>
</p><p>
  <strong>Avatar:</strong>
  <%= @host.avatar %>
</p><p>
  <strong>Address:</strong>
  <%= @host.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @host.area %>
</p>

<p>
  <strong>City:</strong>
  <%= @host.city %>
</p>

<p>
  <strong>Verification:</strong>
  <%= @host.verification %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @host.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @host.latitude %>
</p>

<p>
  <strong>Subscription end:</strong>
  <%= @host.subscription_end %>
</p>

<p>
  <strong>Max requests:</strong>
  <%= @host.max_requests %>
</p>

<p>
  <strong>Max queue:</strong>
  <%= @host.max_queue %>
</p>

<p>
  <strong>Proximity:</strong>
  <%= @host.proximity %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @host.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @host.twitter %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @host.slogan %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
