<%= form_for(@host_session) do |f| %>
  <% if @host_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host_session.errors.count, "error") %> prohibited this host_session from being saved:</h2>

      <ul>
      <% @host_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :host_id %><br>
    <%= f.number_field :host_id %>
  </div>
  <div class="field">
    <%= f.label :host_session_id %><br>
    <%= f.text_field :host_session_id %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
